@import "tailwindcss";
@import "@nuxt/ui";

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.pageTitle {
  @apply mb-6 text-3xl font-semibold tracking-tight;
}

.sectionTitle {
  @apply mb-6 text-2xl font-semibold tracking-tight;
}

.subSectionTitle {
  @apply my-6 text-xl font-semibold tracking-tight;
}

.fingerprint {
  @apply my-6;
}
